%ub-light {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}
%ub-medium {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}
%ub-bold {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

%ral-regular {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

%ral-sbold {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
